{% extends 'users/index.html' %} {% block content %}

<form method="POST" >
  {% csrf_token %}
    <table class="table">
        <tr class="table">
          <p>Turno N°: {{ turno.id }}</p>
          <p>Profesional: {{ turno.profesional }}</p>
          <p>Paciente: {{ turno.paciente }}</p>
          <p>Fecha: {{ turno.fecha }}</p>
        </tr>
    </table>
  <p>¿Está seguro de que quiere eliminar el turno?</p>
  <a href="{% url 'secretaria' %}" class="btn btn-secondary" value="Cancelar">Cancelar</a>
  <input type="submit" class="btn btn-danger" value="ELIMINAR"></input>
</form>


{% endblock content %}
