{% extends 'users/index.html' %} {% block content %} {% load static%}
<section class="swiper-wrapper-container">
  <div
    class="swiper-container swiper-slider swiper-slider_fullheight swiper-container-horizontal swiper-container-fade"
    data-simulate-touch="false"
    data-loop="false"
    data-autoplay="5500"
    data-slide-effect="fade"
  >
    <div class="swiper-wrapper" style="transition-duration: 0ms">
      <div
        class="swiper-slide context-dark swiper-slide-dark-overlay swiper-slide-dark-overlay-35"
        data-slide-bg="{% static 'users/png-eye.png' %}"
        style="
          background-image: url('images/medical-slide-1.jpg');
          background-size: cover;
          width: 1306px;
          opacity: 1;
          transform: translate3d(0px, 0px, 0px);
          transition-duration: 0ms;
        "
      >
        <div class="swiper-slide-caption">
          <div class="container">
            <div class="row">
              <div class="col-xl-7">
                <h1 data-caption-animate="fadeInUpSmall" class="not-animated">
                  <span>MedClinic</span>
                </h1>
                <h3
                  data-caption-animate="fadeInUpSmall"
                  data-caption-delay="200"
                  class="not-animated"
                >
                  Quality Medical Services
                </h3>
                <div
                  class="group-lg group-middle not-animated"
                  data-caption-animate="fadeInUpSmall"
                  data-caption-delay="250"
                >
                  <img
                    src="images/awards-5-120x101.png"
                    alt=""
                    width="120"
                    height="101"
                  /><img
                    src="images/awards-6-120x101.png"
                    alt=""
                    width="120"
                    height="101"
                  /><img
                    src="images/awards-7-120x103.png"
                    alt=""
                    width="120"
                    height="103"
                  /><img
                    src="images/awards-8-120x103.png"
                    alt=""
                    width="120"
                    height="103"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide context-dark swiper-slide-dark-overlay swiper-slide-dark-overlay-35 swiper-slide-prev"
        data-slide-bg="images/medical-slide-2.jpg"
        style="
          background-image: url('images/medical-slide-2.jpg');
          background-size: cover;
          width: 1306px;
          opacity: 1;
          transform: translate3d(-1306px, 0px, 0px);
          transition-duration: 0ms;
        "
      >
        <div class="swiper-slide-caption">
          <div class="container">
            <div class="row">
              <div class="col-xl-7">
                <h2 data-caption-animate="fadeInLeftSmall" class="not-animated">
                  Providing extensive<br class="d-none d-lg-block" />
                  family healthcare
                </h2>
                <a
                  class="button button-primary not-animated"
                  data-caption-animate="fadeInLeftSmall"
                  data-caption-delay="200"
                  href="#"
                  >Contact us</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide context-dark swiper-slide-dark-overlay swiper-slide-dark-overlay-35 swiper-slide-active"
        data-slide-bg="images/medical-slide-3.jpg"
        style="
          background-image: url('images/medical-slide-3.jpg');
          background-size: cover;
          width: 1306px;
          opacity: 1;
          transform: translate3d(-2612px, 0px, 0px);
          transition-duration: 0ms;
        "
      >
        <div class="swiper-slide-caption">
          <div class="container">
            <div class="row">
              <div class="col-xl-7">
                <h2
                  data-caption-animate="fadeInUpSmall"
                  class="fadeInUpSmall animated"
                >
                  Top-Notch Medical Service
                </h2>
                <h5
                  class="text-width-2 block fadeInUpSmall animated"
                  data-caption-animate="fadeInUpSmall"
                  data-caption-delay="200"
                >
                  Our Medical Center offers the best medical service in the
                  area.
                </h5>
                <div class="group-lg group-middle">
                  <a
                    class="button button-primary fadeInUpSmall animated"
                    data-caption-animate="fadeInUpSmall"
                    data-caption-delay="350"
                    href="#"
                    data-custom-scroll-to="services"
                    >See Services</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Swiper Pagination-->
    <div
      class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
    >
      <span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span
      ><span
        class="swiper-pagination-bullet swiper-pagination-bullet-active"
      ></span>
    </div>
  </div>
  <div class="form-section">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-xl-5">
          <div class="form-container">
            <h4 class="title">Get in Touch</h4>
            <form
              class="rd-mailform"
              data-form-output="form-output-global"
              data-form-type="contact"
              method="post"
              action="bat/rd-mailform.php"
              novalidate="novalidate"
            >
              <div class="form-wrap form-wrap_icon linear-icon-man">
                <input
                  class="form-input form-control-has-validation"
                  id="contact-name-2"
                  type="text"
                  name="name"
                  data-constraints="@Required"
                /><span class="form-validation"></span>
                <label class="form-label rd-input-label" for="contact-name-2"
                  >Your name</label
                >
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-envelope">
                <input
                  class="form-input form-control-has-validation"
                  id="contact-email-2"
                  type="email"
                  name="email"
                  data-constraints="@Email @Required"
                /><span class="form-validation"></span>
                <label class="form-label rd-input-label" for="contact-email-2"
                  >Your e-mail</label
                >
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-calendar-full">
                <input
                  class="form-input form-control-has-validation"
                  id="date"
                  type="text"
                  name="name"
                  data-time-picker="date"
                  data-constraints="@Required"
                  data-dtp="dtp_qWYBy"
                /><span class="form-validation"></span>
                <label class="form-label rd-input-label" for="date">Date</label>
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-calendar-full">
                <input
                  class="form-input form-control-has-validation"
                  id="time"
                  type="text"
                  name="name"
                  data-time-picker="time"
                  data-constraints="@Required"
                  data-dtp="dtp_ZEvIR"
                /><span class="form-validation"></span>
                <label class="form-label rd-input-label" for="time">Time</label>
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-feather">
                <textarea
                  class="form-input form-control-has-validation"
                  id="contact-message-2"
                  name="message"
                  data-constraints="@Required"
                ></textarea
                ><span class="form-validation"></span>
                <label class="form-label rd-input-label" for="contact-message-2"
                  >Your message</label
                >
              </div>
              <button class="button button-black" type="submit">send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
