{% extends 'users/index.html' %} {% block content %}

<form method="POST">
  {% csrf_token %} {{ form }}
  <input type="submit" class="btn btn-primary"></input>
</form>

{% for turno in turnos %}
<div>
  <tr class="table">
    <td>{{ turno.id }}</td>
    <td>{{ turno.profesional }}</td>
    <td>{{ turno.dni }}</td>
    <td>{{ turno.fecha }}</td>
    <td>{{ turno.asistencia }}</td>
    <a href="{% url 'update_turno' turno.id %}">Actualizar</a>
  </tr>
  <br />
</div>

{% endfor %}{% endblock content %}
