{% extends 'users/index.html' %} {% block content %}
<br />
<div class="grid">
  <div class="col-md">
    <div class="card card-body">
      <h3>
        Turnos
        <div class="float-right">
          <a class="btn btn-primary" href="{% url 'add_turno' %}"> Nuevo </a>
        </div>
      </h3>
    </div>
    <div class="card card-body">
      <table class="table table-active text-light table-responsive-sm">
        <thead>
          <tr>
            <th>Profesional</th>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Asistió</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for turno in turnos %}
          <tr>
            <td>{{ turno.profesional }}</td>
            <td>{{ turno.paciente }}</td>
            <td>{{ turno.fecha }}</td>
            <td>{{ turno.asistencia }}</td>
            <td>
              <a
                class="btn-sm btn-warning"
                href="{% url 'update_turno' turno.id %}"
                >Actualizar</a
              >
            </td>

            <td>
              <a class="btn-sm btn-danger" href="{% url 'del_turno' turno.id %}"
                >Eliminar</a
              >
            </td>
          </tr>
        </tbody>

        {% endfor %}
      </table>
    </div>
  </div>
</div>
<br />
{% endblock content %}
