{% extends 'users/index.html' %} {% block content %}

<div class="row">
  <table class="table">
    <tr>
      <th>Profesional</th>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Asistió</th>
      <th>
        <a class="btn btn-primary" href="{% url 'add_turno' %}"> Nuevo </a>
      </th>
    </tr>

    {% for turno in turnos %}
    <tr class="table">
      <td>{{ turno.profesional }}</td>
      <td>{{ turno.paciente }}</td>
      <td>{{ turno.fecha }}</td>
      <td>{{ turno.asistencia }}</td>
      <td>
        <a class="btn btn-warning" href="{% url 'update_turno' turno.id %}"
          >Actualizar</a
        >
      </td>

      <td>
        <a class="btn btn-danger" href="{% url 'del_turno' turno.id %}"
          >Eliminar</a
        >
      </td>
    </tr>

    {% endfor %}
  </table>
</div>
{% endblock content %}
