{% extends 'users/index.html' %} {% block content %}

<form method="POST" >
  {% csrf_token %}
  <tr class="table">
      <td>{{ pedido.id }}</td>
      <td>{{ pedido.producto }}</td>
      <td>{{ pedido.cantidad }}</td>
      <td>{{ pedido.tipo_pago }}</td>
      <td>{{ pedido.tipo_pago }}</td>
      <td>{{ pedido.estado_pedido }}</td>
      {{ form.estado_pedido }}
</tr>

<input type="submit" class="btn btn-primary"></input>
<a href="{% url 'taller' %}"class='btn btn-secondary'>Atrás</a>
</form>

{% endblock content %}
