html,
body {
  height: 100%;
  background-color: #152036;
  color: aqua;
  overflow: hidden;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
#userName {
  color: aliceblue;
}

/******** Barra Lateral *********/
#wrapper {
  overflow-x: hidden;
  background-color: #152036;
  color: aqua;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #1b2a47 !important;
  color: aqua;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}
#sidebar-wrapper .list-group-item {
  background-color: #1b2a47 !important;
  color: aqua;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.logo-link:hover {
  text-decoration: none;
}
.card.card-body {
  background: #1b2a47;
  overflow: hidden;
}
nav,
footer {
  background: #1b2a47 !important;
  border: 0;
  padding: 0;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.collapsible {
  cursor: pointer;
}
.active,
.collapsible:hover {
  background-color: rgb(69, 51, 134);
}
.caja-land {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100vh;
  width: 100vw;
}

.fondo {
  grid-area: 1 / 1 / 4 / 5;
  /* background-image: url('./opto.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(8px);
}

.land-text {
  grid-area: 2 / 2 / 3 / 3;
}

.land-text > h1 {
  position: relative;
  top: center;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  mix-blend-mode: Lighten;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  background: rgba(135, 86, 214, 0.2);
}
.social_square_icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 450px;
  margin-top: 300px;
}

.social_square_icons ul li:first-child {
  margin-left: 0px;
}

.social_square_icons ul li a {
  float: left;
  line-height: 40px;
  color: #e0e0e0;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
}

.gap {
  margin-right: 10px;
}

.social_icons_rounded ul li a i {
  font-size: 16px;
}

.f_facebook:hover {
  color: #fff;
  background: #2a66b3;
  border: 1px solid #2a66b3;
}

.t_twitter:hover {
  color: #fff;
  background: #35bbec;
  border: 1px solid #35bbec;
}

.pinterest:hover {
  color: #fff;
  background: #cb2027;
  border: 1px solid #cb2027;
}

.linkedin:hover {
  color: #fff;
  background: #007bb5;
  border: 1px solid #007bb5;
}

.g_google:hover {
  color: #fff;
  background: #e55644;
  border: 1px solid #e55644;
}

.dribbble:hover {
  color: #fff;
  background: #ea4c89;
  border: 1px solid #ea4c89;
}

.skype:hover {
  color: #fff;
  background: #01aaf8;
  border: 1px solid #01aaf8;
}

.flickr:hover {
  color: #fff;
  background: #ff0084;
  border: 1px solid #ff0084;
}
