html,
body {
  height: 100%;
  background-color: #152036;
  color: aqua;
  overflow: hidden;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
#userName {
  color: aliceblue;
}

/******** Barra Lateral *********/
#wrapper {
  overflow-x: hidden;
  background-color: #152036;
  color: aqua;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #1b2a47 !important;
  color: aqua;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}
#sidebar-wrapper .list-group-item {
  background-color: #1b2a47 !important;
  color: aqua;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.logo-link:hover {
  text-decoration: none;
}
.card.card-body {
  background: #1b2a47;
  overflow: hidden;
}
nav,
footer {
  background: #1b2a47 !important;
  border: 0;
  padding: 0;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.collapsible {
  cursor: pointer;
}
.active,
.collapsible:hover {
  background-color: rgb(69, 51, 134);
}
